<% include ../partials/header %>

<p><%= textbook.title %> </p>

<img src = "<%= textbook.image %>">
<p><%= textbook.description %> </p>

<% textbook.comments.forEach(function(comment){ %>
    <p>
    <strong><%= comment.author %>-</strong>
    <%= comment.text %>
    </p>

<% }) %>

<a class ="btn btn-success" href="/textbooks/<%=textbook._id%>/comments/new">New Comment
</a>

<% include ../partials/footer %>